.main-container{
    background-color: #303030 !important;
}

.logo{
    max-width: 200px;
}

.login-container {
    width: 350px;
}

.input-transparent {
    background-color: rgba(255, 255, 255, 0.76);
}